html {
  height: 100% !important;
}
body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  background: url("img/bkg.jpg") no-repeat;
  background-size: 100% 100%;
}
header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
header img {
  width: 300px;
  padding: 10px;
}
#score {
  position: relative;
  left: 280px;
}
.results {
  max-height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fffd96;
  font-size: 1.6em;
  font-family: 'Shojumaru', cursive;
}
ul {
  width: 100%;
  margin: 10px auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.dash {
  width: 20px;
  height: 35px;
  padding: 0 10px;
  border-bottom: 3px solid #fefc79;
  font-family: 'Henny Penny', cursive;
  font-size: 22px;
  text-transform: uppercase;
  color: #fefc79;
  text-shadow: 1px 1px 2px #313130;
  box-shadow: 0px 8px 7px -7px #3a190a;
}
.no-border {
  border-bottom: none;
  box-shadow: none;
}
#abeceda-container {
  width: 396px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Henny Penny', cursive;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.abeceda-letter {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 5px;
  text-align: center;
  color: #fffd96;
  background: linear-gradient(45deg, #8BC34A, #c2e121);
  box-shadow: 1px 1px 3px #8BC34A;
}
#abeceda-container .abeceda-letter.exist {
  opacity: 0.4;
}
.game-container {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.form-section {
  width: 50%;
  margin: auto;
}
.game-container form {
  height: 0;
  overflow: hidden;
  margin: 50px auto 0;
  text-align: center;
}
.game-container form input {
  padding: 10px 10px;
  outline: none;
  border: 2px solid #9e4200;
  background-color: #8c3e01;
  color: #fefc79;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Indie Flower', cursive;
  box-shadow: inset 0 0 7px 3px #210f01;
}
.game-container form input::placeholder {
  color: rgba(250, 240, 137, 0.7);
}
 .btn {
  margin-left: 3%;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 3px;
  letter-spacing: 2px;
  background: linear-gradient(#ffbf01, #ff6900);
  box-shadow: 1px 1px 3px #ff6900;
  color: #fffd96;
  font-size: 1.3em;
  font-weight: 800;
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}
.scale-grow {
  animation-name: abeceda-grow;
  animation-duration: .5s;
}
@keyframes abeceda-grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
#game-over-wraper, #continue-wraper {
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 238, 184, 0.8);
}
#game-over, #continue-game {
  width: 500px;
  height: 490px;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.9em;
  font-weight: bold;
  text-transform: uppercase;
  background: url("img/popup.png") no-repeat;
  background-size: auto 100%;
  background-position: center;
  animation: popupAnimation 0.2s ease;
}
.score {
  margin-top: 108px;
  margin-left: 20px;
  font-family: 'Shojumaru', cursive;
  color: #ffeeb8;
  text-shadow: 2px 2px 2px #4e2301;
}
.score img {
  width: 45px;
  vertical-align: middle;
}
.btn-over {
  margin: 60px 0 0 33px;
  font-size: 0.7em;
}
#game-over-wraper.popup, #continue-wraper.popup {
  display: flex;
}
#input-form.try-whole {
  height: auto;
  overflow: visible;
  animation-name: warning;
  animation-duration: 1s;
  animation-iteration-count: 2;
}
.write-word {
  animation-name: warning;
  animation-duration: 1s;
}
.left, .right, footer {
  display: none;
}
aside.sidebar {
  width: 160px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: 100%;
  z-index: -1;
}
.left {
  left: 0;
  background: url("img/right-side.png");
}
.right {
  right: 0;
  background: url("img/left-side.png");
}
footer {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background: url("img/footer.png") no-repeat;
  background-size: 100%;
  z-index: -1;
}
@keyframes warning {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes popupAnimation {
  from {transform: scale3d(0.8, 0.8, 1);}
  to {transform: scale3d(1, 1, 1);}
}

@media only screen and (max-width: 1440px) {
  header img {
    width: 260px;
  }
  .results {
    max-height: 100px;
  }
  #score {
    left: 260px;
  }
  .dash {
    width: 10px;
  }
  .game-container {
    margin-top: -15px;
  }
}
@media only screen and (max-width: 1280px) {
  #score {
    left: 230px;
  }
  header img {
    width: 240px;
  }
  .game-container {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    background: wheat;
  }
  .left, .right, footer {
    display: block;
  }
  .results {
    color: #ff9200;
  }
  #score {
    left: 130px;
  }
  .dash {
    width: 5px;
    font-size: 18px;
  }
  .game-container, .form-section {
    margin-top: 20px;
  }
  .game-container form input {
    padding: 7px;
  }
  .btn {
    padding: 7px 30px;
  }
}
@media only screen and (max-width: 940px) {
  #score {
    left: 170px;
  }
  .results {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 800px) {
  #score {
    left: 0;
  }
}
@media only screen and (max-width: 700px) {
  .logo {
    width: 160px;
  }
  #abeceda-container {
    width: 346px;
    font-size: 1em;
  }
  .form-section {
    width: 100%;
  }
  .abeceda-letter {
    padding: 6px;
  }
  .game-container {
    padding-top: 0;
    margin-top: 0;
  }
  .game-container form input {
    margin-bottom: 10px;
  }
  .dash {
    width: 0px;
    height: 28px;
    font-size: 14px
  }
  #game-over, #continue-game {
    height: 400px;
    font-size: 1.6em;
  }
  .score {
    margin-top: 85px;
  }
}
@media only screen and (max-width: 360px) {
  #abeceda-container {
    width: 306px;
  }
  .abeceda-letter {
    padding: 5px;
  }
}